/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 30, 2016, 4:36:08 PM
    Author     : varungoel
*/



.toolbar_container{
    -fx-background-color: #F22613;
    -fx-padding: 6.5px;
    
}

.toolbar_container_hovered{
    -fx-background-color: #CC0000;
    -fx-padding: 5px;
}

.file_button{
    -fx-background-color:#F22613;
    -fx-border-width: 0 0 0 0;
}

.file_button_hovered{
    -fx-background-color:#CC0000; 
    -fx-border-width: 0 0 0 0;
}

.edit_toolbar{
    -fx-background-color: #4D8FAC;
    -fx-font-family: Gafata;
}

.pressed{
    -fx-border-color: black ;
     -fx-border-width: 0 0 3 0;
}

.edit_toolbar_row {
    -fx-background-color: #1F4788;
    -fx-padding: 10;
    -fx-font-size:22px;
    -fx-font-family: Gafata;
    -fx-border-color: #89C4F4 ;
     -fx-border-width: 0 0 3 0;
}

.container_button{
    -fx-background-color: #1F4788;
}


.label{
    -fx-text-fill: white;
    /*-fx-margin-top:50;*/
}

.checkbox{
    -fx-padding: 10 0 0 10;
}

.rendering_canvas{
    -fx-background-color: white;
}

.table{
    -fx-background-color: grey;
}

/*CSS CLASS FOR OUR BIG PANES*/
.bordered_pane {
    -fx-background-color: #F22613;
    /*-fx-background-radius: 5.0;*/
    -fx-padding: 0 8 8 8;
    -fx-spacing: 0;
    /*-fx-border-width: 3px;*/
    /*-fx-border-color: black;*/
}